/* Color Palette */
/* set page width to 1024px and center */
html {
  min-width: 1024px;
  max-width: 1024px;
  margin: 0 auto;
  background-color: #fff;
}
/* styling resets */
body {
  padding: 0;
  margin: 0;
  font: 13px "Segoe UI", Arial, Helvetica, Garuda, sans-serif;
  *font-size: small;
  *font: x-small;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
em,
strong,
pre,
code {
  padding: 0;
  margin: 0;
  line-height: 1em;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
}
table {
  font-size: inherit;
  font: 100%;
}
ul {
  list-style: none;
}
img {
  border: 0;
}
p {
  margin: 1em 0;
}
a,
a:visited {
  color: #007acc;
}
/* mix-ins */
.subdued {
  color: #bbbbbb;
}
.symbol {
  font-family: 'Segoe UI Symbol';
}
.dingbat {
  font-family: 'Webdings';
}
.separator {
  margin: 0 .5em;
}
/* context bar */
div.contextBar {
  background-color: #007acc;
  color: white;
  overflow: hidden;
  padding: 0 1em;
}
div.contextBar img {
  vertical-align: top;
}
div.contextBar ul.accountContext {
  float: left;
}
div.contextBar ul.identityContext {
  float: right;
}
div.contextBar ul {
  padding: .5em 0;
}
div.contextBar ul li {
  display: inline;
  vertical-align: middle;
}
div.contextBar ul li a {
  padding: .5em .5em .7em .5em;
}
div.contextBar ul li a,
div.contextBar ul li a:hover {
  color: #fff;
  text-decoration: none;
}
div.contextBar ul li a:hover {
  background-color: #0e639c;
}
div.contextBar ul li img {
  vertical-align: top;
}
/* navigation hubs */
div.hubs {
  background-color: #f1f1f1;
}
div.hubs ul {
  margin: 0 .5em;
}
div.hubs ul li {
  display: inline-block;
  margin: 0 1em;
  padding: .5em 0;
  text-transform: uppercase;
}
div.hubs ul li a {
  color: #000;
  padding-bottom: .4em;
  text-decoration: none;
}
div.hubs ul li a:hover {
  color: #007acc;
}
div.hubs ul li.active {
  color: #007acc;
  padding-bottom: .5em;
  border-bottom: solid 0.4em #007acc;
}
