/* Color Palette */
/* set page width to 1024px and center */
html {
  min-width: 1024px;
  max-width: 1024px;
  margin: 0 auto;
  background-color: white;
}
/* styling resets */
body {
  padding: 0;
  margin: 0;
  font: 13px "Segoe UI", Arial, Helvetica, Garuda, sans-serif;
  *font-size: small;
  *font: x-small;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
em,
strong,
pre,
code {
  padding: 0;
  margin: 0;
  line-height: 1em;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
}
table {
  font-size: inherit;
  font: 100%;
}
ul {
  list-style: none;
}
img {
  border: 0;
}
p {
  margin: 1em 0;
}
a,
a:visited {
  color: #007acc;
}
/* mix-ins */
.subdued {
  color: #999999;
}
.success {
  color: green;
}
.failure {
  color: darkred;
}
.symbol {
  font-family: 'Segoe UI Symbol';
}
.dingbat {
  font-family: 'Webdings';
}
.separator {
  margin: 0 .5em;
}
/* context bar */
div.contextBar {
  background-color: #007acc;
  color: white;
  overflow: hidden;
  padding: 0 1em;
}
div.contextBar img {
  vertical-align: top;
}
div.contextBar ul.accountContext {
  float: left;
}
div.contextBar ul.identityContext {
  float: right;
}
div.contextBar ul {
  padding: .5em 0;
}
div.contextBar ul li {
  display: inline;
  vertical-align: middle;
}
div.contextBar ul li a {
  padding: .5em .5em .7em .5em;
}
div.contextBar ul li a,
div.contextBar ul li a:hover {
  color: #fff;
  text-decoration: none;
}
div.contextBar ul li a:hover {
  background-color: #0e639c;
}
div.contextBar ul li img {
  vertical-align: top;
}
/* navigation hubs */
div.hubs {
  background-color: #f1f1f1;
  margin-bottom: 20px;
}
div.hubs ul {
  margin: 0 .5em;
}
div.hubs ul li {
  display: inline-block;
  margin: 0 1em;
  padding: .7em 0;
  text-transform: uppercase;
}
div.hubs ul li a {
  color: #000;
  padding-bottom: .7em;
  text-decoration: none;
}
div.hubs ul li a:hover {
  color: #007acc;
}
div.hubs ul li.active {
  color: #007acc;
  font-weight: 600;
  padding-bottom: .7em;
  border-bottom: solid 0.4em #007acc;
}
/* layout */
div.content {
  width: 100%;
}
div.content div.primary {
  float: left;
  margin-right: 20px;
  width: 676px;
}
div.content div.primary section.starting ul.tiles > li {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}
div.content div.primary section.starting ul.tiles > li a {
  display: block;
  padding: 10px;
  height: 89.33333333333333px;
  width: 134px;
}
div.content div.primary section.starting ul.tiles > li a br {
  margin: 24px;
}
div.content div.primary section.starting ul.tiles > li:last-child {
  margin-right: 0;
  padding: 0;
  background-color: inherit;
}
div.content div.primary section.starting ul.tiles > li:last-child ul.commands li {
  display: block;
}
div.content div.primary section.starting ul.tiles > li:last-child ul.commands li a {
  padding: 0 10px;
  display: block;
  height: 44.666666666666664px;
  line-height: 44.666666666666664px;
  width: 134px;
  vertical-align: middle;
}
div.content div.primary section.starting ul.tiles > li:last-child ul.commands li:first-child {
  margin-bottom: 20px;
}
div.content div.primary section.recent,
div.content div.primary section.favorites {
  width: 328px;
  float: left;
}
div.content div.primary section.recent h3,
div.content div.primary section.favorites h3 {
  padding-bottom: 10px;
}
div.content div.primary section.recent ul li,
div.content div.primary section.favorites ul li {
  line-height: 110%;
  margin-bottom: 10px;
}
div.content div.primary section.recent ul li a,
div.content div.primary section.favorites ul li a {
  padding: 0;
  text-decoration: none;
}
div.content div.primary section.recent ul li a > span,
div.content div.primary section.favorites ul li a > span {
  display: block;
}
div.content div.primary section.recent ul li a > span:first-child,
div.content div.primary section.favorites ul li a > span:first-child {
  color: #fff;
  font-size: 18px;
  display: block;
  float: left;
  height: 32px;
  line-height: 32px;
  width: 32px;
  margin-right: 6.666666666666667px;
  background-color: #007acc;
  text-align: center;
  vertical-align: middle;
}
div.content div.primary section.recent ul li a:hover > span:first-child,
div.content div.primary section.favorites ul li a:hover > span:first-child {
  background-color: #005b99;
}
div.content div.primary section.recent ul li a:hover > span:nth-child(2),
div.content div.primary section.favorites ul li a:hover > span:nth-child(2) {
  text-decoration: underline;
}
div.content div.primary section.recent ul li a > span.build,
div.content div.primary section.favorites ul li a > span.build {
  background-color: #595959;
}
div.content div.primary section.recent ul li a:hover > span.build,
div.content div.primary section.favorites ul li a:hover > span.build {
  background-color: #3f3f3f;
}
div.content div.primary section.recent ul li a > span.work,
div.content div.primary section.favorites ul li a > span.work {
  background-color: #ff8c00;
}
div.content div.primary section.recent ul li a:hover > span.work,
div.content div.primary section.favorites ul li a:hover > span.work {
  background-color: #cc7000;
}
div.content div.primary section.recent ul li a:hover span.subdued,
div.content div.primary section.favorites ul li a:hover span.subdued {
  color: #444;
}
div.content div.primary section.recent ul li:last-child,
div.content div.primary section.favorites ul li:last-child {
  margin-bottom: 20px;
}
div.content div.primary section.recent {
  margin-right: 20px;
}
div.content div.primary br {
  clear: both;
}
div.content aside {
  float: left;
  width: 328px;
}
div.content aside .users {
  float: left;
  width: 154px;
  margin-right: 20px;
}
div.content aside .resources {
  float: left;
  width: 154px;
}
div.content aside .chart {
  float: left;
}
div.content aside .histogram {
  display: inline-block;
  height: 96px;
}
div.content aside .histogram div {
  display: inline-block;
  position: relative;
  vertical-align: bottom;
}
div.content aside .histogram .spacer {
  height: 96px;
}
div.content aside .histogram .bar {
  color: white;
  background-color: #595959;
  width: 14px;
}
div.content aside .histogram .bar a {
  color: #ccc;
  font-size: 10px;
  display: block;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  padding: 2px 1px;
}
div.content aside div > p:last-child {
  margin-bottom: 20px;
}
div.content aside div.news h3 {
  margin: 0;
  padding: 0;
}
div.content aside div.news a.newsflash {
  color: #fff;
  display: block;
  padding: 10px;
  background-color: #7f7f7f;
  text-decoration: none;
}
div.content aside div.news a.newsflash time {
  color: #f1f1f1;
  float: right;
  text-transform: uppercase;
  font-size: 10px;
  padding-top: 2px;
}
div.content aside div.news a.newsflash:hover {
  background-color: #666666;
}
div.content h2 {
  margin-bottom: 20px;
}
/* presentation */
strong {
  font-weight: 600;
}
h2 {
  font-size: 18px;
  font-weight: 100;
  padding-bottom: .3em;
  border-bottom: solid 1px #DDD;
}
a {
  text-decoration: none;
}
a span.showOnHover {
  display: none;
}
a:hover {
  text-decoration: none;
}
a:hover span.underlineOnHover {
  text-decoration: underline;
}
a:hover span.showOnHover {
  display: inherit;
  text-decoration: none;
}
p.actions a {
  padding-right: 10px;
}
table.avatars {
  border-collapse: collapse;
  table-layout: fixed;
  height: 96px;
  width: 96px;
  max-height: 96px;
}
table.avatars tr td {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
table.avatars tr td a.command {
  background-color: #007acc;
  color: #fff;
  display: block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
}
table.avatars tr td.blank {
  background-color: #f1f1f1;
}
table.avatars tr td.small {
  width: 24px;
  height: 24px;
}
table.avatars tr td.medium {
  width: 48px;
  height: 48px;
}
table.avatars tr td.medium img {
  display: block;
  height: 48px;
  width: 48px;
}
a.tools {
  background-color: #007acc;
}
a.tools:hover {
  background-color: #005b99;
}
a.work {
  background-color: #ff8c00;
}
a.work:hover {
  background-color: #dc3c00;
}
a.code {
  background-color: #b4009e;
}
a.code:hover {
  background-color: #810071;
}
a.create {
  background-color: #007acc;
}
a.create:hover {
  background-color: #005b99;
}
a.grow {
  background-color: #68217a;
}
a.grow:hover {
  background-color: #442359;
}
section.starting ul.tiles > li > a {
  text-decoration: none;
  color: #fff;
}
section.starting ul.tiles > li > a h3 {
  font-weight: 600;
}
ul.commands li a {
  color: white;
  text-decoration: none;
}
div.popUp {
  position: absolute;
  background-color: #ddd;
  border: solid 1px #bbb;
  display: none;
  padding: 10px;
}
div.popUp p {
  margin: 0;
}
div.popUp ul li {
  padding-top: 10px;
  clear: both;
}
div.popUp img.icon {
  float: left;
  height: 32px;
  width: 32px;
  margin-right: 10px;
}
