/* Color Palette */
/* set page width to 1024px and center */
html {
  background-color: white;
}
/* styling resets */
body {
  padding: 0;
  margin: 0;
  font: small 'Segoe UI', Arial, Helvetica, Garuda, sans-serif;
  *font-size: small;
  *font: x-small;
}
div.content {
  max-width: 970px;
  margin-left: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
em,
strong,
pre,
code {
  padding: 0;
  margin: 0;
  line-height: 1em;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
}
table {
  font-size: inherit;
  font: 100%;
}
ul {
  list-style: none;
}
img {
  border: 0;
}
p {
  margin: 1em 0;
}
a,
a:visited {
  color: #007acc;
}
/* mix-ins */
.subdued {
  color: #999999;
  font-size: 90%;
}
.success {
  color: green;
}
.failure {
  color: darkred;
}
.symbol {
  font-family: 'Segoe UI Symbol';
}
.dingbat {
  font-family: 'Webdings';
}
.separator {
  margin: 0 .5em;
}
/* context bar */
div.contextBar {
  background-color: #007acc;
  color: white;
  overflow: hidden;
  padding-left: 10px;
}
div.contextBar img {
  vertical-align: top;
}
div.contextBar ul.accountContext {
  float: left;
}
div.contextBar ul.identityContext {
  float: right;
}
div.contextBar ul li {
  display: inline;
  vertical-align: middle;
}
div.contextBar ul li a {
  margin: 0;
  padding: 0 8px;
  line-height: 30px;
  display: inline-block;
}
div.contextBar ul li a,
div.contextBar ul li a:hover {
  color: #fff;
  text-decoration: none;
}
div.contextBar ul li a:hover {
  background-color: #0e639c;
}
div.contextBar ul li img {
  vertical-align: middle;
  padding-bottom: 4px;
}
/* navigation hubs */
div.hubs {
  background-color: #f1f1f1;
  margin-bottom: 20px;
}
div.hubs ul {
  margin: 0 .5em;
}
div.hubs ul li {
  display: inline-block;
  margin: 0 1em;
  padding: .7em 0;
  text-transform: uppercase;
}
div.hubs ul li a {
  color: #000;
  padding-bottom: .7em;
  text-decoration: none;
}
div.hubs ul li a:hover {
  color: #007acc;
}
div.hubs ul li.active {
  color: #007acc;
  font-family: 'Segoe UI Semibold', Arial, Helvetica, Garuda, sans-serif;
  font-weight: 600;
  padding-bottom: .7em;
  border-bottom: solid 0.4em #007acc;
}
/* layout */
div.content {
  width: 100%;
}
div.content div.primary {
  float: left;
  margin-right: 20px;
  width: 640px;
}
div.content div.primary section:nth-child(2) {
  clear: both;
}
div.content div.primary section.starting {
  margin-bottom: 20px;
}
div.content div.primary section.starting ul.tiles > li {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  line-height: 120%;
}
div.content div.primary section.starting ul.tiles > li p {
  margin: 10px 0 10px 0;
}
div.content div.primary section.starting ul.tiles > li a {
  display: block;
  padding: 10px;
  height: 83.33333333333333px;
  width: 125px;
}
div.content div.primary section.starting ul.tiles > li a br {
  margin: 24px;
}
div.content div.primary section.starting ul.tiles > li:last-child {
  margin-right: 0;
  padding: 0;
  background-color: inherit;
}
div.content div.primary section.starting ul.tiles > li:last-child ul.commands li {
  display: block;
}
div.content div.primary section.starting ul.tiles > li:last-child ul.commands li a {
  padding: 0 10px;
  display: block;
  height: 41.666666666666664px;
  line-height: 41.666666666666664px;
  width: 125px;
  vertical-align: middle;
}
div.content div.primary section.starting ul.tiles > li:last-child ul.commands li:first-child {
  margin-bottom: 20px;
}
div.content div.primary section.recent,
div.content div.primary section.favorites {
  width: 310px;
  float: left;
}
div.content div.primary section.recent h3,
div.content div.primary section.favorites h3 {
  padding-bottom: 10px;
}
div.content div.primary section.recent ul li,
div.content div.primary section.favorites ul li {
  line-height: 120%;
  margin-bottom: 10px;
}
div.content div.primary section.recent ul li a,
div.content div.primary section.favorites ul li a {
  padding: 0;
  text-decoration: none;
}
div.content div.primary section.recent ul li a > span,
div.content div.primary section.favorites ul li a > span {
  display: block;
}
div.content div.primary section.recent ul li a > span:first-child,
div.content div.primary section.favorites ul li a > span:first-child {
  color: #fff;
  font-size: 18px;
  display: block;
  float: left;
  height: 32px;
  line-height: 32px;
  width: 32px;
  margin-right: 6.666666666666667px;
  background-color: #007acc;
  text-align: center;
  vertical-align: middle;
}
div.content div.primary section.recent ul li a:hover > span:first-child,
div.content div.primary section.favorites ul li a:hover > span:first-child {
  background-color: #005b99;
}
div.content div.primary section.recent ul li a:hover > span:nth-child(2),
div.content div.primary section.favorites ul li a:hover > span:nth-child(2) {
  text-decoration: underline;
}
div.content div.primary section.recent ul li a > span.build,
div.content div.primary section.favorites ul li a > span.build {
  background-color: #595959;
}
div.content div.primary section.recent ul li a:hover > span.build,
div.content div.primary section.favorites ul li a:hover > span.build {
  background-color: #3f3f3f;
}
div.content div.primary section.recent ul li a > span.work,
div.content div.primary section.favorites ul li a > span.work {
  background-color: #ff8c00;
}
div.content div.primary section.recent ul li a:hover > span.work,
div.content div.primary section.favorites ul li a:hover > span.work {
  background-color: #dc3c00;
}
div.content div.primary section.recent ul li a > span.code,
div.content div.primary section.favorites ul li a > span.code {
  background-color: #b4009e;
}
div.content div.primary section.recent ul li a:hover > span.code,
div.content div.primary section.favorites ul li a:hover > span.code {
  background-color: #810071;
}
div.content div.primary section.recent ul li a:hover span.subdued,
div.content div.primary section.favorites ul li a:hover span.subdued {
  color: #444;
}
div.content div.primary section.recent ul li:last-child,
div.content div.primary section.favorites ul li:last-child {
  margin-bottom: 20px;
}
div.content div.primary section.recent {
  margin-right: 20px;
}
div.content div.primary br {
  clear: both;
}
div.content aside {
  float: left;
  width: 310px;
}
div.content aside .users {
  float: left;
  width: 145px;
  margin-right: 20px;
}
div.content aside .resources {
  float: left;
  width: 310px;
}
div.content aside .resources p.subdued {
  margin: 5px 0;
}
div.content aside .build-resource {
  display: block;
  height: 20px;
  width: 100%;
  background-color: #dedede;
}
div.content aside .build-resource span {
  display: inline-block;
  height: 100%;
  float: left;
}
div.content aside .build-resource span.empty {
  width: 97%;
  text-align: right;
  border-left: solid 4px #888;
  color: #999999;
}
div.content aside .build-resource span.used {
  width: 66%;
  padding-left: 4px;
  background-color: #595959;
  color: #fff;
  vertical-align: middle;
}
div.content aside .build-resource span.quota {
  width: 6%;
  border-right: solid 4px #888;
}
div.content aside .chart {
  float: left;
}
div.content aside .histogram {
  display: inline-block;
  height: 96px;
}
div.content aside .histogram div {
  display: inline-block;
  position: relative;
  vertical-align: bottom;
}
div.content aside .histogram .spacer {
  height: 96px;
}
div.content aside .histogram .bar {
  color: white;
  background-color: #595959;
  width: 11px;
}
div.content aside .histogram .bar a {
  color: #ccc;
  font-size: 10px;
  display: block;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  padding: 0 2px;
}
div.content aside div > p:last-child {
  margin-bottom: 20px;
}
div.content aside div.news h3 {
  margin: 0;
  padding: 0;
}
div.content aside div.news a.newsflash {
  display: block;
  /*
                padding: (@gutter / 3) (@gutter / 2);
                color: #fff;
                background-color: @darkGray;
                */

  text-decoration: none;
}
div.content aside div.news a.newsflash time {
  /* color: @lightGray; */

  text-transform: uppercase;
  font-size: 85%;
}
div.content aside div.news a.newsflash:hover {
  background-color: #666666;
}
div.content h2 {
  margin-bottom: 20px;
}
/* presentation */
strong {
  /* font-family: 'Segoe UI Semibold', Arial, Helvetica, Garuda, sans-serif; */

  font-weight: 500;
}
h2 {
  font-size: 18px;
  font-weight: 100;
  padding-bottom: .3em;
  border-bottom: solid 1px #DDD;
}
h2 a.sectionCloser {
  float: right;
  color: #000;
}
h2 a.sectionCloser:hover {
  color: #007acc;
  cursor: pointer;
}
a {
  text-decoration: none;
}
a span.showOnHover {
  display: none;
}
a:hover {
  text-decoration: none;
}
a:hover .underlineOnHover {
  text-decoration: underline;
}
a:hover span.showOnHover {
  display: inherit;
  text-decoration: none;
}
a.url {
  text-decoration: none;
}
a.url span:first-child {
  color: #000;
}
a.url span:last-child {
  display: none;
}
a.url:hover span:last-child {
  text-decoration: underline;
  display: inherit;
}
p.actions {
  line-height: 100%;
}
p.actions a {
  padding-right: 10px;
}
table.avatars {
  border-collapse: collapse;
  table-layout: fixed;
  height: 96px;
  width: 96px;
  max-height: 96px;
}
table.avatars tr td {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
table.avatars tr td a.command {
  background-color: #007acc;
  color: #fff;
  display: block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
}
table.avatars tr td.blank {
  background-color: #f1f1f1;
}
table.avatars tr td.small {
  width: 24px;
  height: 24px;
}
table.avatars tr td.medium {
  width: 48px;
  height: 48px;
}
table.avatars tr td.medium img {
  display: block;
  height: 48px;
  width: 48px;
}
a.tools {
  background-color: #007acc;
}
a.tools:hover {
  background-color: #005b99;
}
a.work {
  background-color: #ff8c00;
}
a.work:hover {
  background-color: #dc3c00;
}
a.code {
  background-color: #b4009e;
}
a.code:hover {
  background-color: #810071;
}
a.build {
  background-color: #595959;
}
a.build:hover {
  background-color: #3f3f3f;
}
a.create {
  background-color: #007acc;
}
a.create:hover {
  background-color: #005b99;
}
a.grow {
  background-color: #68217a;
}
a.grow:hover {
  background-color: #442359;
}
section.starting ul.tiles > li > a {
  text-decoration: none;
  color: #fff;
}
section.starting ul.tiles > li > a h3 {
  font-family: 'Segoe UI Semibold', Arial, Helvetica, Garuda, sans-serif;
  font-weight: 600;
}
section.starting ul.tiles > li > a span.symbol {
  float: right;
  font-size: 20px;
}
ul.commands li a {
  color: white;
  text-decoration: none;
}
div.popUp,
div.menu,
div.profileTip {
  position: absolute;
  display: none;
  border: solid 1px #bbb;
  -webkit-box-shadow: 0 5px 10px #888;
  box-shadow: 0 5px 10px #888;
}
div.popUp {
  background-color: #ddd;
  border: solid 1px #bbb;
  padding: 10px;
}
div.popUp p {
  margin: 0;
}
div.popUp ul li {
  padding-top: 10px;
  clear: both;
}
div.popUp img.icon {
  float: left;
  height: 32px;
  width: 32px;
  margin-right: 10px;
}
div.menu {
  background-color: #fff;
  padding-bottom: 6px;
  border-bottom: solid 5px #007acc;
}
div.menu ul li a {
  color: #7f7f7f;
  display: inline-block;
  padding: 10px 40px 10px 10px;
  white-space: nowrap;
}
div.menu ul li a:hover {
  color: #007acc;
}
div.profileTip {
  background-color: #fff;
  width: 220px;
}
div.profileTip div.container {
  margin-bottom: 35px;
  padding: 20px;
}
div.profileTip ul li a {
  color: #7f7f7f;
  display: inline-block;
  padding: 5px 10px;
}
div.profileTip ul li a:hover {
  color: #007acc;
}
div.profileTip img {
  float: left;
  margin-right: 10px;
}
div.profileTip p.identity {
  clear: both;
  background-color: #007acc;
  color: #fff;
  margin: 0;
  padding: 5px 10px;
}
p.acquisition {
  line-height: 120%;
}
p.acquisition img {
  float: left;
  padding-right: 10px;
}
