@dark: #333;
@light: #fff;
@normalText: #000;
@subduedText: #888;
@primaryLight: #7AC142;
@primary: #00853E;
@accent: #EF4035;

html, body {
    height: 100%;
}

body {
    background: url(images/fabric_of_squares_gray.png) repeat;
}

header {
    background: @dark;
    color: @light;
    height: 1.7em;
    display: block;
    padding: .5em;
    font-size: 90%;
    margin: 0 0 2em 0;

    h1 {
        float:  left;
        font-weight: normal;

        img.icon {
            width: 1.5em;
            height: 1.5em;
            margin-right: .5em;
            vertical-align: text-bottom;
        }
    }

    form {
        float: right;

        .actions {
            margin-right: .5em;
        }

        input {
        }
    }

    a {
        color: @light;
        text-decoration: none;
    }

    a:hover {
        color: @primaryLight;
        text-decoration: underline;
    }
}

div.main {
    max-width: 60em;
    min-width: 42em;
    margin: 0 auto;
    min-height: 100%;
    margin-bottom: -10em;
    position: relative;

    aside {
        width: 25%;
        max-width: 15em;
        padding: 0;
        /* padding: 2em 1em 2em 2em; */
        float: left;
    
        img.logo {
            width: 85%;
        }
    }

    .content {
        padding: 0;
        float: right;
        width: 75%;
        max-width: 45em;

        ul.navigation {
            list-style-type: none;

            li {
                display: inline-block;
                text-transform: uppercase;
                font-weight: 600;

                a {
                    color: @subduedText;
                    text-decoration: none;
                    border-left: solid .4em @primaryLight;
                    padding: .1em 1em .1em .5em;
                }

                a.active, a:hover {
                    color: @normalText;
                    border-left: solid .4em @primary;
                }
            }
        }

        p {
            margin-bottom: .5em;
        }

        .vevent {
            padding: .5em 0 0 0;
            font-size: 200%;

            a.url {
                color: @normalText;
                text-decoration: none;

                .summary { display: none; }
                .location { display: none; }
            }
        }

        .adr {
            .country-name {display: none; }
        }
    }
}

div.footer, footer {
    height: 10em;
}

footer {
    position: relative;
    background-color: @dark;
}

h3 {
    color: @primary;
    font-size: 125%;
    margin-top: .5em;
}

.clear { 
    clear: both; 
}

.subdued {
    color: @subduedText;
}
